/*
--------------------
  CSS Reset
--------------------
*/
 
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
--------------------
  General Styling
--------------------
*/

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/*
--------------------
  Nav Bar
--------------------
*/

nav {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 980px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	list-style: none; 
	background: linear-gradient(to bottom, #8b8b8b , #676767 50%, #595959 50%, #757575 100%);
}

nav ul li {
	display: inline-block;
}

nav > * {
	flex: 1;
	text-align: center;
	padding: 10px 20px;
	border-right: 1px solid black;
}

nav > *:hover {
	background-color: blue;
}

nav > :last-child {
	border-right: none;
}

nav > :first-child:hover {
	border-radius: 8px 0 0 8px
}

nav > :last-child:hover {
	border-radius: 0 8px 8px 0;
	background-color: red;
}

nav li {
	padding-top: 18px;
	font-size: 12px;
	color: #fff;
}

.fa-apple {
	padding-top: 15px;
	color: #fff;
}

.fa-search {
	position: absolute;
	padding: 5px;
	top: 10px;

	color: #fff;
}

nav input[type="search"] {
  -webkit-appearance: textfield;
	border: 1px solid #eee;
	border-radius: 5px;
	width: 100px;
	padding-left: 15px;
	background-color: #333;
	color: #fff;
}

nav input[type="search"]:focus {
	border: none;
}

/*
--------------------
  Main Page
--------------------
*/

main {
	height: 100vh;
}

#main-content {
	height: 80%;
	text-align: center;
	background-color: mistyrose;
}

#sub-content {
	height: 20%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
}

#sub-content span {
	background-color: olive;
}

/*
--------------------
  Footer
--------------------
*/

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background-color: blue;
}